body, html {
    font-family: "ScalaPro", "MinionPro", "TimesNewRoman", serif;
    font-size:large;
    font-color:black;
    margin: 0;
    padding: 5;
}

img, svg {
    max-width: 90%;
    max-height: 90%;
}

p {
    font-family: "ScalaPro", "MinionPro", "TimesNewRoman", serif;
    line-height: 1.5 !important;
}

a:link {
    color: #58852c;
}

li {
    line-height: 1.5;
}

@media text-align-left {
    p {
        text-align: left;
    }
}

